html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #11121b;
}

.container {
	display: block;
	justify-content: center;
	height: 100%;
	width: 100%;
	background-color: white;
}

.amount {
	display: flex;
	background-color: red;
	justify-content: center;
	font-size: 35px;
}

.tap-img {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    background-color: green;
}

.tap-tap {
	background-image: url('images/tree.png');
	background-size: cover;
	height: 70%;
	width: 70%;
}